[Desktop Entry]
Version=1.1
Type=Application
Name=Dispositivos
Icon=removable-media
Exec=pcmanfm
Path=/media/pi
Actions=
Categories=menulibre-pastas-do-sistema;
StartupNotify=true
